<!--
CS353-1 Homework 4
Cenker Akan
22102295
-->
<body>
    <h1>
        Internship application cancellation <span style="color:red">Failed</span>
    </h1>
    
    <form method="GET" action="{{ url_for('tasks') }}">
        <button class="homebtn" type="submit">Go Back to My Applications Page</button>
    </form>
</body>


<style>
    .homebtn {
        font-size: 20px;
        padding: 10px 20px;
        display: inline-block;
        margin: 10px;
        background-color: #333;
        color: white;
        transition: background-color 0.5s, color 0.5s;
    }
    .homebtn:hover{
        background-color: red;
        color: black;
        cursor: pointer;
    }
    body {
        background-color: #87CEEB;
        text-align:center;
    }
</style>