<!--
CS353-1 Homework 4
Cenker Akan
22102295
-->
<body> 
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/tasks">Main</a>
        <a href="/companies">Companies</a>
        <a href="/appSum">Statistics</a>
        <a class="end" href="/logout">Logout</a>
        <a class="end">"{{ userid }}"</a>
    </div>
    <div>
        <h1> Hello {{username}}, here is your account information:</h1>
        <ul>
            <h1>
                <li> id: {{userid}}</li>
                <li> department: {{dept}}</li>
                <li> bdate: {{bdate}}</li>
                <li> year: {{year}}</li>
                <li> gpa: {{gpa | round(2)}}</li>
            </h1>
        </ul>
        
        <h1> Internship Applications You Have Made: </h1>
        <ul>
            <h1>
                {% for item in message %}
                    <li > {{item['cid']}} {{item['cname']}} {{item['quota']}} {{item['gpaThreshold']}}
                        <form method="POST" action="/cancelApplication" style="display:inline;">
                            <input type="hidden" name="cid" value="{{item['cid']}}">
                            <button class="homebtn" type="submit">Cancel</button>
                        </form>
                    </li>
                {% endfor %}
            </h1>
        </ul>
        
        <form method="GET" action="{{ url_for('companies') }}" style="display:inline;">
            <button class="homebtn" type="submit">apply for new internship</button>
        </form>
        <form method="GET" action="{{ url_for('appSum') }}" style="display:inline;">
            <button class="homebtn" type="submit">application summary page</button>
        </form>
    </div>
</body>


<!--
	I took the navbar from here: https://www.w3schools.com/howto/howto_js_topnav.asp
	here is the citation: How to - top navigation. How To Create a Top Navigation Bar. (n.d.). https://www.w3schools.com/howto/howto_js_topnav.asp 
 -->
<style>
    .topnav {
        background-color: #333;
        overflow: hidden;
    }
        
        
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    
    
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    
    
    .topnav a.active {
        background-color: #04AA6D;
        color: white;
    }

    .topnav a.end  {
        float: right;
    }

    .homebtn {
        font-size: 20px;
        padding: 10px 20px;
        display: inline-block;
        margin: 10px;
        background-color: #333;
        color: white;
        transition: background-color 0.5s, color 0.5s;
    }
    .homebtn:hover{
        background-color: #04AA6D;
        color: black;
        cursor: pointer;
    }
    body {
        background-color: #87CEEB;
    }
    </style>